# Vm base info configs
#
[base]
# Guest vm id.
id = 2
# Guest vm name.
name = "arceos-vm4"
# Virtualization type.
vm_type = 1
# The number of virtual CPUs.
cpu_num = 2
# Guest vm physical cpu ids.
phys_cpu_ids = [2, 3]

#
# Vm kernel configs
#
[kernel]
# The entry point of the kernel image.
entry_point = 0x8020_0000
# The location of image: "memory" | "fs".
# load from memory.
image_location = "memory"
# The file path of the kernel image.
kernel_path = "/home/iscreamx/vscode/axvisor-guest/build/arceos/examples/vm2/helloworld-myplat_aarch64-dyn.bin"
# The load address of the kernel image.
kernel_load_addr = 0x8020_0000
# The file path of the device tree blob (DTB).
#dtb_path = "path/aarch64-qemu-gicv3.dtb"
# The load address of the device tree blob (DTB).
dtb_load_addr = 0x8000_0000

## The file path of the ramdisk image.
# ramdisk_path = ""
## The load address of the ramdisk image.
# ramdisk_load_addr = 0
## The path of the disk image.
# disk_path = "disk.img"

# Memory regions with format (`base_paddr`, `size`, `flags`, `map_type`).
# For `map_type`, 0 means `MAP_ALLOC`, 1 means `MAP_IDENTICAL`.
memory_regions = [
  [0x8000_0000, 0x4000_0000, 0x7, 1], # System RAM 1G MAP_IDENTICAL
]

#
# Device specifications
#
[devices]
# Pass-through devices.
passthrough_devices = [
  ["/",],
]

# Passthrough addresses.
# Base-GPA  Length.
passthrough_addresses = [
    #[0x28041000, 0x100_0000]
]

# Devices that are not desired to be passed through to the guest
excluded_devices = [
    ["/pcie@10000000"],
    ["/virtio_mmio@a000000"],
    ["/virtio_mmio@a000200"],
    ["/virtio_mmio@a000400"],
    ["/virtio_mmio@a000600"],
    ["/virtio_mmio@a000800"],
    ["/virtio_mmio@a000a00"],
    ["/virtio_mmio@a000c00"],
    ["/virtio_mmio@a000e00"],
]

# Emu_devices.
# Name Base-Ipa Ipa_len Alloc-Irq Emu-Type EmuConfig.
emu_devices = [
  ["gppt-gicd", 0x0800_0000, 0x1_0000, 0, 0x21, []],
  ["gppt-gicr", 0x080a_0000, 0x2_0000, 0, 0x20, [2, 0x2_0000, 2]], # 1 vcpu, stride 0x20000, starts with pcpu 0
  # ["gppt-gits", 0x0808_0000, 0x2_0000, 0, 0x22, [0x0808_0000]], # host_gits_base
  ["virtio-console", 0x0a00_0000, 0x1000, 33, 0xE3, []],
]

interrupt_mode = "emulated"



